@media (max-width: 991px) {
    
    header .quickLinks li {
    padding: 0px 5px;
    border-right: none;
}
.mblnavbar .iconsCart{
	text-decoration: none;
	color: var(--gray-scale-gray-–-900);
	padding-left: 20px;
	position: relative;
}
.mblnavbar .iconsCart p{
        border: 1px solid var(--gray-scale-white);
        border-radius: 16px;
        width: 13px;
        height: 13px;
        background: var(--branding-success-dark);
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 6px;
        line-height: 13px;
        text-align: center;
        color: var(--gray-scale-white);
        position: absolute;
        top: 1px;
        right: -5px;
}
.mblnavbar iconify-icon{
    color: var(--gray-scale-gray-–-900);
    font-size: 20px;
}
.mblnavbar button{
    border: none;
    background-color: var(--gray-scale-white);
    color: var(--gray-scale-gray-–-900);
}
.offcanvas .nav a{
    padding: 10px 0;
    border-bottom: 1px solid var(--gray-scale-gray-–-300);
    color: var(--gray-scale-gray-–-900);

}
.offcanvas-body form{
    position: relative;
	display: flex;
	width: 100%;
}
.offcanvas-body form input{
	padding: 12px 18px 12px 44px;
width: 400px;
height: 45px;
font-family: var(--font-family);
font-weight: 400;
font-size: 15px;
line-height: 140%;
color: var(--gray-scale-gray-–-500);
border: 1px solid var(--gray-scale-gray-–-300);
border-radius: 4px 0 0 4px;
gap: 10px;
}
.offcanvas-body form iconify-icon{
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}
.offcanvas-body form button{
	border-radius: 0 6px 6px 0;
padding: 14px 24px;
width: 98px;
height: 45px;
background: var(--branding-success);
font-family: var(--font-family);
font-weight: 600;
font-size: 14px;
line-height: 120%;
color: var(--gray-scale-white);
}
.buyItem .carditem {
border-radius: 6px;
margin: 10px;
box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
background: var(--gray-scale-white);
}
.offcanvas-title{
    font-family: var(--font-family);
font-weight: 500;
font-size: 32px;
line-height: 119%;
letter-spacing: -0.03em;
color: var(--gren-gray-scale-900);
}
.buyItem .carditem img{
    justify-content: center;
align-items: center;
margin-left: 10px;
}
.buyItem  .carditem h5{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
text-align: center;
color: var(--branding-success-dark);
}
.buyItem  .carditem p{
    font-family: var(--font-family);
font-weight: 300;
font-size: 16px;
line-height: 150%;
text-align: start;
color: var(--gray-scale-gray-–-900);
}
    .buyItem .carditem b {
        font-family: var(--font-family);
        font-weight: 500;
        margin-left: 64px;
        font-size: 16px;
        line-height: 150%;
        color: var(--gray-scale-gray-–-900);
}

.mblFooterMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--gray-scale-gray-–-900);
    padding-bottom: 10px;
}
.mblFooterMenu ul{
    display: flex;
    justify-content: space-around;
}
.mblFooterMenu ul a{
    font-size: 30px;
    color: white;
    font-size: 30px;
    transition: 0.3s;
}
.mblFooterMenu ul a:hover{
font-size: 40px;
font-weight: 900;
color: var(--branding-success);
}
}